.dropdown-toggle {
    display: block;
}
.parent-title {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    height: auto;
    white-space: nowrap;
}
.childrens-list {
    margin-left: 25px;
}
