

table.tablesorter {
    font-family: arial;
    background-color: #bae421;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
.vmsBorder {
  font-family: arial;
  font-size: 8pt;
  outline: thin solid black;
}
