<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Terms of use
                    </a>
                </li>
                <li>
                    <a href="#">
                        Privacy Statement
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="https://hcl.com" target="_blank">HCL Tech</a>.
        </div>
    </div>
</footer>
