<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Notice Period Details</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>SL No</th>
                  <th>CV ID</th>
                  <th>Name</th>
                  <th>Email ID</th>
                  <th>Contact Number</th>
                  <th>Notice Period</th>
                  <th>View Profile?</th>
                  <th>View Feedback?</th>

                </thead>
                <tbody>
                   <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td><a
                      mat-list-item
                      (click)="openDialog1(candidatepopupComponentRef, user)">
                      <span class="nav-caption"><u>{{user.id}}</u></span>
                    </a></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.emailId }}</td>
                    <td>{{ user.contactNo }}</td>
                    <td>{{ user.candidateProfileStatus[0].noticePeriod }}</td>
                    <td>Yes</td>
                    <td>Yes</td>
                  </tr>
                   </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

